// Navigation can make a mess, the more levels there are. Use the > CSS selector when possible

// you should to the following, if your reset does not do this. It resets the margins and paddings from lists in navigation elements to zero and also change the display type
// You can also add the selectors for the Event and News Menus here
// .mod_newsmemu ul, .mod_newsmenu li, mod_eventmenu ul, .mod_eventmenu li

nav ul,
nav li,
.mod_sitemap ul,
.mod_sitemap li {
  margin: 0;
  padding: 0;
  display: block;
}

// this is a template for the overall container and the first level. You can copy it to style other levels, too. Change the .mod_navigation to your Navigation module class if needed

.mod_navigation {

  .level_1 {}

  .level_1 > li {

    &.submenu {}

    &.sibling {}

    &.trail {}

    &.first,
    &:first-child {}

    &.last,
    &:last-child {}

  }

  .level_1 > li > a,
  .level_1 > li > span {

    &.sibling {}

    &.submenu {}

    &.active {}

    &.trail {}

    &.first {}

    &.last {}

  }

  // for more specific styling you can also style <a> and <span> seperatly

  .level_1 > li > a {

    &.sibling {}

    &.submenu {}

    &.active {}

    &.trail {}

    &.first {}

    &.last {}

  }

  .level_1 > li > span {

   &.sibling {}

   &.submenu {}

   &.active {}

   &.trail {}

   &.first {}

   &.last {}

 }

}