/*
  This is used on Event and News Lists and Archives
*/

.pagination {
  
  p { // "Page x from y"
    float: right;
  }
  
  ul {
    float: left;
  }
  
  ul li {
    display: inline-block;
  }
  
  li a,
  li span {
    display: block;
  }
  
  li {
  
    .previous { // Previous Page
    }
    
    .next { // Next Page
    }
    
    .current { // Current Page
    }
    
  }
 
}
